<launch>
	<arg name="urdf_name" value="rikirobot"/>
	<arg name="rviz_name" value="rikirobot_urdf"/>
	<param name="rikirobot_description" textfile="$(find rikirobot)/urdf/$(arg urdf_name).urdf.xacro" />

	<!-- 设置GUI参数，显示关节控制插件 -->
	<param name="use_gui" value="true" />
	
	<!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<!-- 运行robot_state_publisher节点，发布tf  -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<!-- 运行rviz可视化界面 -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rikirobot)/rviz/$(arg rviz_name).rviz" required="true" />
</launch>
