<launch>
  <arg name="rviz_name" value="slam">

  <include file="$(find rikirobot)/launch/lidar/$(env RIKILIDAR).launch" />
  <include file="$(find rikirobot)/param/navigation/slam_gmapping.xml" />
  <include file="$(find rikirobot)/param/navigation/move_base.xml" />

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rikirobot)/rviz/$(arg rviz_name).rviz" />
</launch>
